MONGODB_URL=mongodb+srv://aleformateo22_db_user:GWTfTTkoTQOScfXh@welve.29ofesy.mongodb.net/?appName=welve
DATABASE_NAME=welve
SECRET_KEY=d12e3d4cf09f8a0f0d8b19eaf5f9632a31f89728248a5ab849875a0e10930f70
ACCESS_TOKEN_EXPIRE_MINUTES=60
REDIS_URL=redis://localhost:6379
WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=
ENVIRONMENT=development
